<a href="https://colab.research.google.com/github/negarmajma/Machine-learning-sample-code/blob/main/Impo_SVM_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("drive/MyDrive/Datasets/Movie_classification.csv", header=0)

In [ ]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(12), int64(5), object(2)
memory usage: 75.2+ KB

In [ ]:
df['Time_taken'].mean()
df['Time_taken'].fillna(value=df['Time_taken'].mean(), inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(12), int64(5), object(2)
memory usage: 75.2+ KB

**Dummy** variable creation

In [ ]:
df=pd.get_dummies(df,columns=['3D_available','Genre'],drop_first=True)
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,...,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,...,109.60,223.840,23,494,48000,1,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,...,146.64,243.456,42,462,43200,0,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,...,147.88,2022.400,38,458,69400,1,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,...,185.36,225.344,45,472,66800,1,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,...,176.48,225.792,55,395,72400,1,0,0,1,0

X-Y Split

In [ ]:
x=df.loc[:,df.columns!='Start_Tech_Oscar']
y=df['Start_Tech_Oscar']
type(x)

pandas.core.frame.DataFrame

  Test-Train split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=0)

In [ ]:
print(x_train.shape,y_train.shape, x_test.shape, y_test.shape)

(404, 20) (404,) (102, 20) (102,)

**Standardizing Data**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc=StandardScaler().fit(x_train)

In [ ]:
x_train_std=sc.transform(x_train)

In [ ]:
x_test_std=sc.transform(x_test)

In [ ]:
x_test_std

array([[-0.40835869, -1.12872913,  0.83336883, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [ 0.71925111,  0.9988844 , -0.65283979, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [-0.40257488,  0.39610829,  0.05115377, ...,  1.50268577,
        -0.48525664, -0.75225758],
       ...,
       [-0.3982601 , -0.85812418,  0.89420778, ..., -0.66547513,
        -0.48525664,  1.3293319 ],
       [-0.39934279, -0.07637654,  0.58132175, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [-0.40088071, -0.36702631,  0.31189212, ..., -0.66547513,
        -0.48525664, -0.75225758]])

Training SVM

In [ ]:
from sklearn import svm

In [ ]:
clf_svm_l=svm.SVC(kernel='linear', C=0.01)
clf_svm_l.fit(x_train_std,y_train)

SVC(C=0.01, kernel='linear')

Predict values using trained model

In [ ]:
y_train_pred=clf_svm_l.predict(x_train_std)
y_test_pred=clf_svm_l.predict(x_test_std)

In [ ]:
y_test_pred

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0])

Model Performance

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
confusion_matrix(y_test,y_test_pred)

array([[11, 33],
       [ 5, 53]])

In [ ]:
accuracy_score(y_test,y_test_pred)

0.6274509803921569

In [ ]:
clf_svm_l.n_support_

array([186, 189], dtype=int32)

**Grid Search**

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
params={'C':(0.001,0.005,0.01,0.05,0.1,0.5,1,5,10,50,100,500,1000)}

In [ ]:
clf_svm_l=svm.SVC(kernel='linear')

In [ ]:
svm_grid_lin=GridSearchCV(clf_svm_l,params,n_jobs=-1,cv=10,verbose=1,scoring='accuracy')

In [ ]:
svm_grid_lin.fit(x_train_std,y_train)

Fitting 10 folds for each of 11 candidates, totalling 110 fits

GridSearchCV(cv=10, estimator=SVC(kernel='linear'), n_jobs=-1,
             param_grid={'C': (0.001, 0.005, 0.05, 0.1, 0.5, 1, 5, 10, 100, 500,
                               1000)},
             scoring='accuracy', verbose=2)

In [ ]:
svm_grid_lin.best_params_

{'C': 0.1}

In [ ]:
linsvm_clf=svm_grid_lin.best_estimator_

In [ ]:
accuracy_score(y_test,linsvm_clf.predict(x_test_std))

0.5980392156862745

**Polynomial**

In [ ]:
clf_svm_p3=svm.SVC(kernel='poly', degree=2, C=0.1)
clf_svm_p3.fit(x_train_std, y_train)

SVC(C=0.1, degree=2, kernel='poly')

In [ ]:
y_train_pred=clf_svm_p3.predict(x_train_std)
y_test_pred=clf_svm_p3.predict(x_test_std)

In [ ]:
accuracy_score(y_test,y_test_pred)

0.5588235294117647

In [ ]:
clf_svm_p3.n_support_

array([185, 194], dtype=int32)

**Radial**

In [ ]:
clf_svm_r=svm.SVC(kernel='rbf', gamma=0.5,C=10)
clf_svm_r.fit(x_train_std,y_train)

SVC(C=10, gamma=0.5)

In [ ]:
y_train_pred=clf_svm_r.predict(x_train_std)
y_test_pred=clf_svm_r.predict(x_test_std)

In [ ]:
accuracy_score(y_test,y_test_pred)

0.6176470588235294

In [ ]:
clf_svm_r.n_support_

array([186, 218], dtype=int32)

**Radial Grid**

In [ ]:
params={'C':(0.01,0.05,0.1,0.5,1,5.10,50),
         'gamma':(0.001,0.01,0.1,0.5,1)}

In [ ]:
clf_svm_r=svm.SVC(kernel='rbf')

In [ ]:
svm_grid_rad=GridSearchCV(clf_svm_r,params,n_jobs=-1, cv=3,verbose=1,scoring='accuracy')

In [ ]:
svm_grid_rad.fit(x_train_std,y_train)

Fitting 3 folds for each of 35 candidates, totalling 105 fits

GridSearchCV(cv=3, estimator=SVC(), n_jobs=-1,
             param_grid={'C': (0.01, 0.05, 0.1, 0.5, 1, 5.1, 50),
                         'gamma': (0.001, 0.01, 0.1, 0.5, 1)},
             scoring='accuracy', verbose=1)

In [ ]:
svm_grid_rad.best_params_

{'C': 50, 'gamma': 0.001}

In [ ]:
radsvm_clf=svm_grid_rad.best_estimator_

In [ ]:
accuracy_score(y_test, radsvm_clf.predict(x_test_std))

0.6176470588235294