<a href="https://colab.research.google.com/github/negarmajma/Machine-learning-sample-code/blob/main/Impo_SVM_REG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("Movie_regression.csv", header=0)

In [ ]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [ ]:
df=pd.get_dummies(df,columns=["3D_available","Genre"],drop_first=True)

In [ ]:
df['Time_taken'].mean()
df['Time_taken'].fillna(value=df['Time_taken'].mean(),inplace=True)

x-y split

In [ ]:
x=df.loc[:,df.columns!='Collection']
y=df['Collection']

pandas.core.frame.DataFrame

In [ ]:
x.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0

In [ ]:
x.shape

(506, 19)

In [ ]:
y=df['Collection']

In [ ]:
y.head()

0    48000
1    43200
2    69400
3    66800
4    72400
Name: Collection, dtype: int64

**Test-Train split**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
x_train.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
220,27.1618,67.40,0.493,38612.805,162.0,8.485,8.640,8.485,8.670,8.52,480270,174.68,224.272,23,536,0,0,0,1
71,23.1752,76.62,0.587,33113.355,91.0,7.280,7.400,7.290,7.455,8.16,491978,200.68,263.472,46,400,0,0,0,0
240,22.2658,64.86,0.572,38312.835,127.8,6.755,6.935,6.800,6.840,8.68,470107,204.80,224.320,24,387,1,1,0,0
6,21.7658,70.74,0.476,33396.660,140.1,7.065,7.265,7.150,7.400,8.96,459241,139.16,243.664,41,522,1,0,0,1
417,538.8120,91.20,0.321,29463.720,162.6,9.135,9.305,9.095,9.165,6.96,302776,172.16,301.664,60,589,1,0,0,0

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((404, 19), (102, 19), (404,), (102,))

**Standardizing Data**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc=StandardScaler().fit(x_train)

In [ ]:
x_train_std=sc.transform(x_train)

In [ ]:
x_test_std=sc.transform(x_test)

In [ ]:
x_test_std

array([[-0.40835869, -1.12872913,  0.83336883, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [ 0.71925111,  0.9988844 , -0.65283979, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [-0.40257488,  0.39610829,  0.05115377, ...,  1.50268577,
        -0.48525664, -0.75225758],
       ...,
       [-0.3982601 , -0.85812418,  0.89420778, ..., -0.66547513,
        -0.48525664,  1.3293319 ],
       [-0.39934279, -0.07637654,  0.58132175, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [-0.40088071, -0.36702631,  0.31189212, ..., -0.66547513,
        -0.48525664, -0.75225758]])

**Training Regression Tree**

In [ ]:
from sklearn.svm import SVR
svr=SVR(kernel='linear',C=1000)

In [ ]:
svr.fit(x_train_std,y_train)

SVR(C=1000, kernel='linear')

**Pridict values using trained model**

In [ ]:
y_test_pred=svr.predict(x_test_std)
y_train_pred=svr.predict(x_train_std)

In [ ]:
y_test_pred,y_train_pred

(array([54170.53503625, 42284.13073448, 47467.48411681, 18129.17355969,
        48399.2694108 , 39866.86998058, 34007.32532044, 43289.77824001,
        30366.10675075, 47064.86893308, 12791.33749785, 38408.82653373,
        37559.85784034,  8779.61135966, 66820.90169749, 61934.22332501,
        38795.59236698, 65521.75338819, 57150.63894057, 43345.30648075,
        53845.74438999, 39163.9161095 , 41674.15698489, 58329.2948265 ,
        42884.07327353, 13145.18400653, 40922.72188255, 29718.76094568,
        74630.97971381, 44573.11287424, 36854.7122831 , 37424.55686816,
        37582.94829537, 40845.85075693, 52096.6358182 , 35540.25290306,
        25313.83859774, 36522.56259703, 36623.75409555, 35831.61173002,
        47370.51557929, 45957.66677543, 44656.54171505, 27680.22280557,
        50609.67508545, 46713.98056409, 33197.61112633, 40047.74770769,
        15830.8986982 , 51791.84658664, 41241.55116877, 39132.63366916,
        47511.3684718 , 67543.6845176 , 25372.80865713, 41659.98849411,
        41183.13416828, 34329.69827939, 21291.90329438, 39332.20090511,
        41482.76666808, 41305.705476  , 65283.01275883, 64854.422162  ,
        28470.27249381, 63678.89600398, 37109.92800204, 39308.41079599,
        42108.77491375, 47272.96039093, 46402.38045685, 48948.09910041,
        56494.74395678, 59884.05633069, 49074.24411709, 10885.11690224,
        73708.55119772, 44774.58652223, 59273.21131031, 38000.03908567,
        50616.25130199, 43141.53644229, 32228.32910879, 81337.35382161,
        79338.4819698 , 47926.47727737, 50711.45023189, 30108.91100051,
        49496.94125933, 38011.42325353, 34085.66885372, 34287.73114639,
        43273.16443822, 59282.17937564, 43881.88478087, 42304.07003505,
        -4537.98340671, 52502.3163472 , 36710.19229576, 32246.91091579,
        49741.80875784, 48435.89960542]),
 array([58603.58957536, 46690.14254365, 56841.28702076, 45799.90010193,
        12663.32468844, 26011.38283745, 45524.05249317, 57136.16620814,
        59523.60803487, 21347.20466978, 36170.7141279 , 39924.59539802,
        23158.24468825, 39136.74605211, 20364.12933653, 38452.28838181,
        11785.43466737, 82610.30647425, 54864.60099649, 25180.08817792,
        29996.02837869, 42546.37994633, 48110.14921725, 33847.55247888,
        65179.99733631, 32068.89854756, 37156.27901868, 59702.54361391,
        38487.04766362, 39513.8634791 , 28167.06741385, 41105.5285903 ,
        39855.7693293 , 62360.65911781, 50941.66711689, 26799.89652161,
        56140.89171393, 25606.43246298, 31337.97487274, 44434.38890901,
        65558.99030643, 55557.22232474, 48503.26643153, 33200.09699375,
        59557.29341944, 62904.55609324, 36529.3469089 , 10265.87866299,
        51486.82360053, 48497.65124273, 15095.08177935, 52892.02327286,
        36052.01518184, 55899.50395048, 35844.95534481, 35068.0159804 ,
        39217.96521671, 30412.90165946, 23757.67310407, 42532.74776542,
        67998.43990593, 63399.90211668, 48361.10111471, 43210.00379759,
        46124.35557964, 51670.87326795, 38284.95751453, 31657.06867106,
        61343.36348833, 17702.44449456, 40259.09309163, 54406.16381461,
        39915.63924647, 29942.72640099, 34908.8593529 , 28291.61983776,
        48957.69584639, 48392.54436394, 37163.98167611, 31560.33210009,
        40383.98498889, 45400.09736971, 37495.28839297, 54513.9790523 ,
        48333.75456794, 54428.85734552, 76370.34753849, 38056.41469681,
        30163.07474148, 62000.10336787, 65737.59003259, 36973.84815186,
        77046.83110912, 51837.56605474, 55410.74863468, 31692.41557811,
        49149.6982912 , 69946.51374486, 53550.99353108, 33853.70527801,
        71559.95627127, 64691.62578546, 30807.85375182, 42920.17006432,
        35629.98571014, 50239.26038673, 42399.90132364, 41621.3134992 ,
        56739.5588029 , 51961.47595479, 34002.84069318, 43900.15011945,
        41915.70998776, 36241.68585872, 30366.47974736, 57220.06870411,
        39216.85314952, 69399.8921233 , 18095.77320212, 43399.89858026,
        35000.10202782, 29602.75687762, 36800.38096611, 42556.26975207,
        26520.1881716 , 46678.5422286 , 57523.12047925, 44855.02981011,
        27005.55614349, 49130.94256755, 51052.12216139, 52083.44598075,
        45467.98578623, 42784.81096118, 32513.93090438, 35935.22994002,
        65262.27397311, 36215.52351582, 68816.24463954, 51673.78240572,
        40400.09766468, 29990.38767013, 61722.16947704, 45282.03052141,
        50174.7898129 , 25833.7664181 , 57661.73361976, 33716.02189954,
         6022.73707333, 40433.83356691, 26989.05378032, 75184.28832078,
        34473.41948503, 33962.31379428, 50002.61629656, 47002.42688777,
        31911.30722411, 63079.42735364, 50399.90639737, 51985.05403933,
        38533.80267342, 53277.43036275, 44404.55316346, 24356.2900659 ,
        44705.01411551, 12856.96976256, 40307.37131861, 31624.16525695,
        46826.42366802, 34972.52910966, 30728.18456084, 58212.06575888,
        26267.05413589, 39595.1873112 , 27704.01026461, 28237.57790672,
        41497.41121939, 40489.12351624, 32716.07329445, 50024.74114947,
        34546.46604552, 45835.86024186, 22228.08873863, 68226.18028643,
        32002.13995774, 76596.87144992, 60478.27104562, 58390.32655165,
        46734.10689165, 37737.13590223, 42575.09559598, 53664.26774065,
        28599.90201364, 57212.89782776, 71748.05534784, 32920.86102543,
        21206.39801821, 68188.08827329, 61431.55129748, 37829.80101068,
        42598.40904902, 32835.0938511 , 49012.54395618, 38057.28996906,
        50054.52337072, -4974.339658  , 40782.11543511, 79118.67327248,
        64338.19801426, 46529.91504879, 56762.94262512, 34515.01495213,
        46426.038536  , 25816.75719491, 30599.9083104 , 46146.61329625,
        51249.45866019, 42417.48988202,  5311.08267276, 39421.67421519,
        63509.54204012, 67840.33515694, 26050.18683991, 37907.9064493 ,
        47091.17907563,  6856.24689533, 45737.68372608, 48143.43449637,
        28662.87285192, 37797.23591415, 51256.9785213 , 46243.25791607,
        43251.79813574, 72025.68071922, 33779.60363372, 62320.83611065,
        48530.58824643, 36818.43466547, 74302.2428564 , 44395.06979558,
        46435.41713228, 44091.408278  , 20800.10848169, 39138.48483616,
        63746.99539452, 42434.85630394, 35443.24999352, 65766.39994365,
        45540.79914039, 59593.70461503, 61224.50835414, 65085.74191067,
        39774.19543751, 49604.46129376, 43259.60585275, 60343.07211368,
        45297.43599813, 34787.62965271, 39017.5469761 , 54359.87418143,
        40744.2455022 , 37322.01109028, 24703.73542039, 34737.95246135,
        35342.87978156, 34448.53974867, 32712.99876607, 54622.09049576,
        45359.98881595, 32453.82713027, 40561.61216251, 59657.73906772,
        33492.73161038, 52717.41140877, 35811.52118254, 55846.40205857,
        50374.84949699, 33840.40652393, 46004.48329111, 73497.03180224,
        53200.09626321, 63192.28437772, 43231.18235149, 56893.99404157,
        53178.95055537, 68083.74110244, 45286.03787623, 37907.51909913,
        54998.88938405, 25973.04052693, 41264.1042174 , 42114.25870748,
        51256.7027173 , 20880.04971841, 64512.67927641, 12822.2493173 ,
        25565.10165728, 36383.77605309, 65053.53661359, 58157.27539328,
        19587.01313196, 25627.99373245, 44717.20240343, 69905.52721981,
        28926.14633984, 36463.96782555, 35650.00591973, 51109.86731084,
        78927.85382986, 50589.67653873, 77075.98235888, 46934.25363651,
        40013.01960697, 27526.3888764 , 23744.83032277, 33389.72638015,
        43139.35492375,  3366.13714153, 50942.73167572, 50328.90184082,
        82486.467422  , 45138.62866271, 33057.81140875, 66321.57616655,
        59959.79491461, 29364.31772723, 52569.86773375, 88836.8621705 ,
        39509.32405233, 36605.39977682, 50023.64112517, 38031.82001084,
         6795.79520173, 35923.90688801, 70123.76293438, 44895.5377002 ,
        46800.87359906, 23095.71750269, 47811.1981733 , 34976.7637165 ,
        32124.23113847, 42122.82389061, 61350.28542828, 46018.03156765,
        59035.46907565, 53135.32291783, 79609.35976873, 30023.93933133,
        31754.17244968, 74013.1516017 , 35683.45743814, 30295.26589641,
        27732.60979146, 48948.54870065, 40046.94727449, 34341.07449544,
        44634.53724875, 41321.05316262,  8714.66917176, 39153.1317427 ,
        16823.17216702, 53648.6631872 , 16929.06112575, 55806.84770652,
        66400.1030426 , 47134.29521108, 33019.65361586, 44941.14694281,
        42199.90193905, 60600.09869987, 53381.80320209, 39206.43665521,
        36857.26605143, 14236.71770406, 43397.58888192, 44140.35807998,
        49305.86457661, 34912.4487054 , 43057.56901145, 41101.64863528,
        20181.77910794, 47964.25129123, 34567.1581184 , 62528.27965688,
        57436.56161964, 50091.8510545 , 35114.64292833, 60359.78446262,
        42934.62185084, 52065.7017073 , 52239.00580388, 59159.4867276 ,
        49633.96021864, 56142.18475981, 24869.64310045, 36328.95108586,
        33548.25457504, 79574.49426398, 51352.1735448 , 38849.87810933,
        63887.54567544, 40142.16159497, 33877.63426281, 37226.61062353]))

**Model Performance**

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
mean_squared_error(y_test,y_test_pred)

160153135.39404386

In [ ]:
r2_score(y_train,y_train_pred)

0.7124450931551838

In [ ]:
r2_score(y_test,y_test_pred)

0.5025135728682724